{:deps
 {org.clojure/clojure {:mvn/version "1.10.3"}
  org.flatland/ordered {:mvn/version "1.15.12"}}
 :aliases
 {:antq
  {:deps
   {com.github.liquidz/antq {:mvn/version "2.9.1232"}
    org.slf4j/slf4j-nop {:mvn/version "2.0.16"}}
   :main-opts ["-m" "antq.core"]}}}
